// Color Theme:

:root {
    --color-surface: #f4f5f9;
    --color-on-surface: #42567a;
    --color-on-surface-rgb: 66, 86, 122;

    --color-blue-1x: #3877ee;
    --color-blue-1x-rgb: 56, 119, 238;
    --color-blue-2x: #5d5fef;
    --color-blue-3x-rgb: 48, 62, 88;
    --color-pink-1x: #f178b6;
    --color-pink-2x: #ef5da8;
    --color-grey: #c7cdd9;
    --color-white: #ffffff;
}
