@use '../../assets/styles/mixins' as m;

.Round {
    width: m.rem(530);
    height: m.rem(530);
    position: absolute;
    top: m.rem(480);
    left: 50%;
    margin: m.rem(-265) 0 0 m.rem(-265);

    &__tooltip {
        position: absolute;
        top: m.rem(62);
        left: m.rem(500);
        font-size: m.rem(20);
        line-height: 1.5;
        font-weight: 700;
    }

    &__rotate {
        width: 100%;
        height: 100%;
        border: m.rem(1) solid rgba(var(--color-on-surface-rgb), .2);
        border-radius: 50%;
        transition: transform .5s ease;
        // transform: rotate(-45deg);
    }

    &__dot {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: m.rem(6);
        height: m.rem(6);
        background: var(--color-on-surface);
        font-size: 0;
        border-radius: 50%;
        transform:
            translate(-50%, -50%)
            rotate(calc(360deg / var(--dots) * var(--i)))
            translate(m.rem(265));
        transition:
            width .5s ease,
            height .5s ease,
            background-color .5s ease,
            border-color .5s ease;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: m.rem(56);
            height: m.rem(56);
            font-size: m.rem(20);
            border-radius: 50%;
            cursor: pointer;
        }

        &_active {
            width: m.rem(56);
            height: m.rem(56);
            border: m.rem(1) solid rgba(var(--color-blue-3x-rgb), .5);
            background-color: var(--color-surface);
            font-size: m.rem(20);

            &::before {
                cursor: default;
            }
        }

        &:hover {
            width: m.rem(56);
            height: m.rem(56);
            border: m.rem(1) solid rgba(var(--color-blue-3x-rgb), .5);
            background-color: var(--color-surface);
            font-size: m.rem(20);
        }
    }

    &__number {
        display: inline-block;
        pointer-events: none;
        user-select: none;
    }
}
